<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <svg width="150" height="30" viewBox="0 0 500 200" xmlns="http://www.w3.org/2000/svg" class="logo-svg">
        <text x="-80" y="165" font-family="Arial" font-size="148" font-weight="bold">
          <tspan fill="#F9F9F9">FAST</tspan><tspan fill="#CEC0FF">Trade</tspan><tspan fill="#F9F9F9">.</tspan>
        </text>
      </svg>
    </div>
    <div class="footer-social">
      <a href="https://www.linkedin.com/in/sandesh-kumar7/" class="social-link" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/sandeshgehanii/" class="social-link" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 FASTTrade. All rights are reserved | Sandesh - 23K-2004</p>
  </div>
</footer>

